<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-notice">
      <span class="footer-notice-title">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </span>
      <span class="footer-notice-copyright">{{ site.copyright_notice }}</span>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p><a href="https://www.openxtra.co.uk/" rel="nofollow">OPENXTRA Ltd.</a> has been around for a while and has built up a lot of software and content that doesn't really belong on the main website anymore. That's why the OPENXTRA Freestuff website was born as a place to put all of the content that would otherwise go to waste.</p>
      </div>
    </div>

  </div>

</footer>
