---
---

@import "{{ site.theme }}";

/* Site notice & copyright footer */

.footer-notice {
  display:inline-block;
  width: 100%;
}

.footer-notice-title {
  float:left;
}

.footer-notice-copyright {
  float:right;
}

